:root {
    --main-color: #061530;
    --main-color-transperent: #08215080;
    --main-color-light: #0c2657;
    --main-color-lighter: #8bcde6;
    --main-color-lighter-transparent: #8bcde680;
    --accent-color: #AF770D;
    --accent-color-transparent: #784E0020;
    --neutral-color-light: #ffffff;
    --neutral-color-dark: #000000;
    --neutral-color-dark-transparent: #00000080;
    --gradient-background: linear-gradient(155deg,
        var(--main-color-light) 0%,
        var(--main-color) 100%
    );
}

* {
    padding: 0;
    margin: 0;

    font-family: "Montserrat", serif;
}

.button-generic {
    border-radius: 8px;

    transition: ease-in-out 0.2s;

    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

/* Header */

header {
    min-width: 300px;
}

nav {
    position: fixed;
    width: 90%;
    left: 5%;
    top: 0;
    margin: 25px auto;
    background: var(--main-color-transperent);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: 999;
    transition: top 0.5s;
}

.nav-links {
    width: 100%;
    margin-left: 130px;
    display: flex;
    justify-content: flex-start;
}

.nav-links > a {
    color: white;

    padding: 8px 30px;
    margin: 8px 10px;
}

.nav-links > a:hover {
    background-color: var(--main-color-lighter-transparent);
    color: var(--main-color);
    backdrop-filter: blur(30px);
}

.flag {
    width: 100%;
    height: 2px;
    display: flex;
    position: relative;
    z-index: 999;

    background: linear-gradient(90deg,
        #000091 0%,
        #000091 5%,
        white 50%,
        #E1000F 95%,
        #E1000F 100%
    );
}

.flag-blue {
    width: 33.33%;
    background-color: #000091;
    height: 100%;

    /* temporaire */
    display: none;
}

.flag-white {
    width: 33.33%;
    background-color: white;
    height: 100%;

    /* temporaire */
    display: none;
}

.flag-red {
    width: 33.33%;
    background-color: #E1000F;
    height: 100%;

    /* temporaire */
    display: none;
}


/* main */

/* home */

.home {
    background-image: url("../images/2023_A701_277_X_003_005.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 998;
    position: relative;
}

.title-box {
    width: 100%;
    min-width: 300px;
    height: 100%;

    margin: auto;
    text-align: center;

    background: linear-gradient(90deg,
        rgba(0,0,0,0.2) 0%,
        rgba(0,0,0,0.4) 20%,
        rgba(0,0,0,0.4) 80%,
        rgba(0,0,0,0.2) 100%);
    color: white;
}

.donate-wrapper {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

.btn-donate {
    padding: 18px 30px;
    display: block;
    margin: auto;
    width: 20%;

    font-size: larger;

    border: solid 2px var(--accent-color);
    background-color: var(--accent-color-transparent);
    backdrop-filter: blur(2px);
    color: white;
}

.btn-donate:hover {
    color: var(--main-color-lighter);
    border-color: var(--main-color-lighter);
    background-color: var(--main-color-lighter-transperent);
}

.text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 66%;
    transform: translate(-50%, -50%);
}

.text-wrapper > h1 {
    font-size: 2.5rem;
    text-shadow: black 0 0 40px;
}

.text-wrapper > p {
    font-weight: 600;
    font-size: large;
    margin: 10% 0;
}

/* Donate */

#donate {
    width: 100%;
    height: 100vh;

    background-color: var(--main-color);
    position: relative;
    z-index: 999;
}

.donate-widget {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.temp-widget {
    display: block;
    border: solid 2px var(--accent-color);
    border-radius: 8px;
    margin: auto;

    width: 20%;
}

/* Presentation */

#presentation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--main-color-light);
    z-index: 1;
    position: relative;
}

.side-image {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

.si-im1 {
    rotate: 10deg;
}

.si-im2 {
    rotate: 2deg;
}

.si-im3 {
    rotate: -13deg;
}

.center-zone {
    flex-shrink: 0;
    width: 50vw;

    text-align: center;
    color: var(--neutral-color-light);
    z-index: 999;
}

.center-zone > div > h1 {
    font-size: 3vw;
    margin-top: 50px;
}

.pres-text {
    padding: 20px 10%;
    margin: 50px auto;
    background: var(--gradient-background);
    border-radius: 8px;
    border: 2px solid var(--main-color-lighter);
}

.left-pictures, .right-pictures {
    height: 100%;
}

.left-pictures > div, .right-pictures > div {
    top: 0;
    position: sticky;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

/*Chiffres*/

/*Brigades*/

#chiffres {
    background-color: var(--main-color);
    color: var(--neutral-color-light);
    z-index: 998;
}

#chiffres > div {
    display: flex;
    justify-content: center;
}

.chiffre-col {
    width: 20%;
    padding: 10px;
}

.chiffre-col-txt {
    background: var(--gradient-background);
    border: solid 2px var(--main-color-lighter);
    border-radius: 8px;
    padding: 5px;
}

.chiffre-col-txt > h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
}

.chiffre-col-txt > ul {
    list-style-type: none;
    margin: 10px;
}

.chiffre-col-txt > ul > li:not(.brigade) {
    margin-bottom: 2rem;
}

.chiffre-col-txt > ul > li:not(.brigade):first-of-type {
    margin-top: 2rem;
}

.chiffre-col-txt > p {
    margin: 1rem auto;
    width: 90%;
    te
}

.brigade {
    display: flex;
    align-items: center;
}

.brigade > img {
    height: 100px;
    padding: 10px 10%;
}

.brigade > p {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.chiffres-img-wrapper {
    /*TEMPORAIRE*/
    width: 100%;
    height: 300px;
    margin: 15px 0;
    border: solid 2px black;
    text-align: center;
}
