:root {
    --color-base: #303030;
    --color-base-00: #0d0d0d;
    --color-base-10: #262626;
    --color-base-20: #404040;
    --color-base-30: #595959;
    --color-base-40: #737373;
    --color-base-50: #8c8c8c;
    --color-base-60: #a6a6a6;
    --color-base-70: #bfbfbf;
    --color-base-80: #d9d9d9;
    --color-base-90: #f2f2f2;
    --color-base-100: #ffffff;

    --main-color: #061530;
    --main-color-transperent: #08215080;
    --main-color-00: #030a17;
    --main-color-10: #091e44;
    --main-color-20: #0e3271;
    --main-color-30: #14459f;
    --main-color-40: #1a59cc;
    --main-color-50: #3373e5;
    --main-color-60: #6092eb;
    --main-color-70: #8eb1f1;
    --main-color-70-transparent: #8eb1f120;
    --main-color-80: #bbd0f6;
    --main-color-80-transparent: #bbd0f680;
    --main-color-90: #e8effc;

    --accent-color: #af770d;
    --accent-color-transparent: #af770d20;
    --accent-color-00: #181002;
    --accent-color-10: #473005;
    --accent-color-20: #775109;
    --accent-color-30: #a6710c;
    --accent-color-40: #d69110;
    --accent-color-50: #efab29;

    --border-radius: 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Montserrat", serif;
}

.button-generic {
    border-radius: var(--border-radius);

    transition: ease-in-out 0.2s;

    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

/* Header */

header {
    min-width: 300px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;

    width: 90%;
    left: 5%;
    top: 0;
    margin: 25px auto;

    background: var(--main-color-transperent);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    z-index: 2;
    transition: top 0.5s;
}

@media (max-width: 1200px) {
    nav {
        margin: 0.5rem auto;
    }
}

@media (max-width: 800px) {
    nav {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        flex-direction: column;
        margin: 1rem auto;
    }
}

@media (max-height: 400px) {
    nav {
        display: none;
    }
}

nav > a {
    color: var(--main-color-90);

    padding: 8px 30px;
    margin: 8px 10px;
}

nav > a:hover {
    background: var(--main-color-80-transparent);
    color: var(--main-color-10);
    backdrop-filter: blur(30px);
}

.flag {
    width: 100%;
    height: 2px;
    display: flex;
    position: relative;

    background: linear-gradient(90deg,
        #000091 0%,
        #000091 5%,
        white 50%,
        #E1000F 95%,
        #E1000F 100%
    );
}

.flag-blue {
    width: 33.33%;
    background-color: #000091;
    height: 100%;

    /* temporaire */
    display: none;
}

.flag-white {
    width: 33.33%;
    background-color: white;
    height: 100%;

    /* temporaire */
    display: none;
}

.flag-red {
    width: 33.33%;
    background-color: #E1000F;
    height: 100%;

    /* temporaire */
    display: none;
}


/* main */

section {
    background-color: var(--color-base-90);
    color: var(--color-base-10);
}

section > div {
    width: 70%;
    margin: auto;
    max-width: 1200px;
}

h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--main-color-20)
}

@media (max-width: 1200px) {
    section > div {
        width: 95%;
    }

    h2 {
        font-size: 3rem;
        margin: auto;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
        width: 96%;
    }
}

/* home */

#home {
    background-image: url("../images/2023_A701_277_X_003_005.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

#home > div {
    width: 100%;
    max-width: none;
    height: 100%;
}

.home-title {
    height: 100%;

    margin: auto;
    text-align: center;
    background: linear-gradient(90deg,
        rgba(0,0,0,0.2) 0%,
        rgba(0,0,0,0.4) 20%,
        rgba(0,0,0,0.4) 80%,
        rgba(0,0,0,0.2) 100%);
    color: var(--color-base-100);
}

.home-title > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 70%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding-bottom: 14vh;
}

h1 {
    font-size: 5rem;
    padding-bottom: 4rem;
}

.home-title > div > p {
    font-size: 1.4rem;
    font-weight: 600;
}

.btn-donate {
    width: 20em;
    padding: 1em 2em;
    display: block;
    margin: 0 auto;
    margin-top: 8rem;

    font-size: larger;

    border: solid 2px var(--accent-color);
    background-color: var(--accent-color-transparent);
    backdrop-filter: blur(2px);
    color: white;
}

.btn-donate:hover {
    color: var(--main-color-80);
    border-color: var(--main-color-80);
    background-color: var(--main-color-70-transparent)
}

@media (max-width: 1200px) {
    h1 {
        font-size: 3rem;
        padding-bottom: 8vh;
    }

    .home-title > div {
        width: 90%;
        padding-bottom: 6vh;
    }

    .btn-donate {
        margin-top: 8vh;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        padding-bottom: 3vh;
    }

    .home-title > div {
        width: 90%;
        padding-bottom: 16vh;
    }

    .home-title > div > p {
        font-size: 1rem;
        font-weight: 600;
    }

    .btn-donate {
        margin-top: 3vh;
        width: 14em;
    }
}

/* Donate */

#donate {
    width: 100%;
    height: 100vh;

    background-color: var(--main-color);
    position: relative;
    /* z-index: 999; */
}

.donate-widget {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.temp-widget {
    display: block;
    border: solid 2px var(--accent-color);
    border-radius: var(--border-radius);
    margin: auto;

    width: 20%;
}

/* Presentation */

.pres-title {
    padding: 2rem 0;
}

.pres-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pres-wide {
    width: 60%;
}

.pres-small {
    width: 40%;
}

.pres-block > div {
    padding: 1rem;
}

.pres-block > div > p {
    padding: 1rem 0;
    text-align: justify;
    line-height: 1.5rem;
}

.pres-block > div > img, .pres-end > div > img {
    width: 100%;
    box-shadow: 0 0 4rem var(--color-base-20);
    border-radius: var(--border-radius);
}

.pres-end {
    padding: 3em 0;
}

.pres-end > div:first-of-type {
    margin-bottom: 3rem;
}

.pres-end > div > p {
    font-size: 1.3rem;
    text-align: center;
}

@media (max-width: 800px) {
    .pres-block {
        flex-direction: column;
    }

    .pres-wide, .pres-small {
        width: 100%;
    }
}

/*Chiffres*/

/*Brigades*/

#chiffres > div {
    padding: 2em 0;
}

.chiffre-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.chiffre-title {
    width: 80%;
    margin: auto;
    padding-bottom: 2em;
}

.chiffre-col {
    display: flex;
    flex-direction: column;
}

.chiffre-col > div:first-of-type {
    margin-bottom: 1em;
}

.chiffre-col-txt {
    background-color: var(--color-base-80);
    border: solid 1px var(--color-base-70);
    border-radius: var(--border-radius);
    padding: 5px;
}

.chiffre-col-txt > h3 {
    text-align: center;
    font-size: 2rem;
    margin: 1.2rem auto;
}

.chiffre-col-txt > ul {
    list-style-type: none;
    margin: 10px;
}

.chiffre-col-txt > ul > li:not(.brigade) {
    margin-bottom: 2rem;
}

.chiffre-col-txt > ul > li:not(.brigade):first-of-type {
    margin-top: 2rem;
}

.chiffre-col-txt > p {
    margin: auto;
    padding: 1rem;
}

.brigade {
    display: flex;
    align-items: center;
}

.brigade > img {
    height: 150px;
    padding: 10px 10%;
    filter: drop-shadow(0 0 1.5rem var(--color-base-20))
}

.brigade > p {
    width: 100%;
    font-size: 1.3rem;
}

.brigade > p:first-child {
    margin-left: 6rem;
}

.brigade > p:last-child {
    text-align: right;
    margin-right: 6rem;
}

.chiffres-img-wrapper {
    /*TEMPORAIRE*/
    width: 100%;
    min-height: 300px;
    flex: 1 1 auto;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--color-base-40);
}

@media (max-width: 1200px) {
    .brigade > p:first-child {
        margin-left: 2rem;
    }
    
    .brigade > p:last-child {
        margin-right: 2rem;
    }

    .chiffre-col-txt > h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .chiffre-grid {
        display: flex;
        flex-direction: column;
    }

    .responsive-reverse {
        flex-direction: column-reverse;
        gap: 1em;
    }
}
